.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 540px}
.u-section-1 .u-list-1 {min-height: 396px; grid-template-columns: repeat(4, calc(25% - 8px)); grid-template-rows: repeat(1, auto); grid-gap: 10px; margin: 60px auto 60px 0}
.u-section-1 .u-list-item-1 {box-shadow: 0 -2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-1 {width: 109px; height: 179px; margin: 76px auto 0}
.u-section-1 .u-text-1 {margin: 72px 1px 0}
.u-section-1 .u-list-item-2 {box-shadow: 0 -2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-2 {width: 109px; height: 179px; margin: 76px auto 0}
.u-section-1 .u-text-2 {margin: 72px 1px 0}
.u-section-1 .u-list-item-3 {box-shadow: 0 -2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-3 {width: 109px; height: 179px; margin: 76px auto 0}
.u-section-1 .u-text-3 {margin: 72px 1px 0}
.u-section-1 .u-list-item-4 {box-shadow: 0 -2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-image-4 {width: 109px; height: 179px; margin: 76px auto 0}
.u-section-1 .u-text-4 {margin: 72px 1px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 471px}
.u-section-1 .u-list-1 {min-height: 327px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {width: auto; margin-top: 29px; margin-right: -12px; margin-left: 12px}
.u-section-1 .u-text-2 {width: auto; margin-top: 29px; margin-right: -12px; margin-left: 12px}
.u-section-1 .u-text-3 {width: auto; margin-top: 29px; margin-right: -12px; margin-left: 12px}
.u-section-1 .u-text-4 {width: auto; margin-top: 29px; margin-right: -12px; margin-left: 12px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1543px}
.u-section-1 .u-list-1 {min-height: 1336px; grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px); grid-template-rows: auto; grid-gap: 10px 10px; height: auto; margin-top: -1px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {width: 232px; height: 339px; margin-top: 46px; margin-right: 16px}
.u-section-1 .u-text-1 {margin-top: 32px; margin-right: -16px; margin-left: 16px}
.u-section-1 .u-image-2 {width: 232px; height: 339px; margin-top: 46px; margin-right: 16px}
.u-section-1 .u-text-2 {margin-top: 32px; margin-right: -16px; margin-left: 16px}
.u-section-1 .u-image-3 {width: 232px; height: 339px; margin-top: 46px; margin-right: 16px}
.u-section-1 .u-text-3 {margin-top: 32px; margin-right: -16px; margin-left: 16px}
.u-section-1 .u-image-4 {width: 232px; height: 339px; margin-top: 46px; margin-right: 16px}
.u-section-1 .u-text-4 {margin-top: 32px; margin-right: -16px; margin-left: 16px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 4410px}
.u-section-1 .u-list-1 {min-height: 2284px; grid-template-columns: 100%; width: 531px; margin-top: 152px; margin-right: 0; margin-left: auto}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {width: 205px; height: 295px; margin-top: 114px; margin-right: 137px}
.u-section-1 .u-text-1 {margin-top: 55px; margin-right: 137px; margin-left: 186px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-2 {width: 205px; height: 295px; margin-top: 114px; margin-right: 137px}
.u-section-1 .u-text-2 {margin-top: 55px; margin-right: 137px; margin-left: 186px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-3 {width: 205px; height: 295px; margin-top: 114px; margin-right: 137px}
.u-section-1 .u-text-3 {margin-top: 55px; margin-right: 137px; margin-left: 186px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-4 {width: 205px; height: 295px; margin-top: 114px; margin-right: 137px}
.u-section-1 .u-text-4 {margin-top: 55px; margin-right: 137px; margin-left: 186px} }

@media (max-width: 575px){ .u-section-1 .u-list-1 {width: 340px}
.u-section-1 .u-image-1 {height: 346px; width: 215px; margin-top: 106px; margin-right: auto}
.u-section-1 .u-text-1 {margin-top: 20px; margin-right: 41px; margin-left: 91px}
.u-section-1 .u-image-2 {height: 346px; width: 215px; margin-top: 106px; margin-right: auto}
.u-section-1 .u-text-2 {margin-top: 20px; margin-right: 41px; margin-left: 91px}
.u-section-1 .u-image-3 {height: 346px; width: 215px; margin-top: 106px; margin-right: auto}
.u-section-1 .u-text-3 {margin-top: 20px; margin-right: 41px; margin-left: 91px}
.u-section-1 .u-image-4 {height: 346px; width: 215px; margin-top: 106px; margin-right: auto}
.u-section-1 .u-text-4 {margin-top: 20px; margin-right: 41px; margin-left: 91px} }