.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/z-min.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 740px}
.u-section-1 .u-text-1 {font-size: 4.5rem; margin: 103px 94px 0 235px}
.u-section-1 .u-line-1 {width: 150px; height: 6px; margin: 32px auto 0 0}
.u-section-1 .u-layout-wrap-1 {width: 1037px; margin: 80px 32px 0 auto}
.u-section-1 .u-layout-cell-1 {min-height: 328px; background-image: none}
.u-section-1 .u-container-layout-1 {padding: 50px 30px}
.u-section-1 .u-icon-1 {height: 84px; width: 84px; background-image: none; margin: 3px auto 0}
.u-section-1 .u-text-2 {font-size: 1.25rem; letter-spacing: 2px; margin: 29px 20px 0}
.u-section-1 .u-layout-cell-2 {min-height: 328px; background-image: none}
.u-section-1 .u-container-layout-2 {padding: 50px 30px}
.u-section-1 .u-icon-2 {height: 84px; width: 84px; background-image: none; margin: 3px auto 0}
.u-section-1 .u-text-3 {font-size: 1.25rem; letter-spacing: 2px; margin: 30px 20px 0}
.u-section-1 .u-layout-cell-3 {min-height: 328px; background-image: none}
.u-section-1 .u-container-layout-3 {padding: 50px 30px}
.u-section-1 .u-icon-3 {height: 84px; width: 84px; background-image: none; margin: 3px auto 0}
.u-section-1 .u-text-4 {font-size: 1.25rem; letter-spacing: 2px; margin: 30px 20px 0}
.u-section-1 .u-text-5 {width: 146px; margin: 23px auto 60px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 552px}
.u-section-1 .u-text-1 {width: 836px}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-right: 0}
.u-section-1 .u-layout-cell-1 {min-height: 297px}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-cell-2 {min-height: 297px}
.u-section-1 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-cell-3 {min-height: 297px}
.u-section-1 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-1 .u-text-5 {height: 27px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 382px}
.u-section-1 .u-text-1 {width: 720px}
.u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding: 30px 20px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding: 30px 20px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-container-layout-3 {padding: 30px 20px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 482px}
.u-section-1 .u-text-1 {width: 540px; font-size: 3rem}
.u-section-1 .u-layout-wrap-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-1 .u-container-layout-2 {padding-left: 50px; padding-right: 50px}
.u-section-1 .u-container-layout-3 {padding-left: 50px; padding-right: 50px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 2.25rem; width: 340px}
.u-section-1 .u-layout-wrap-1 {width: 340px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }