.u-section-1 {background-image: linear-gradient(#41807c, #555c66)}
.u-section-1 .u-sheet-1 {min-height: 782px}
.u-section-1 .u-image-1 {width: 533px; height: 360px; margin: 11px auto 0 38px}
.u-section-1 .u-image-2 {width: 480px; height: 360px; margin: -360px 60px 0 auto}
.u-section-1 .u-image-3 {width: 570px; height: 321px; margin: 38px auto 52px} 

@media (max-width: 1199px){ .u-section-1 .u-image-1 {width: 439px}
.u-section-1 .u-image-2 {width: 396px} }

@media (max-width: 991px){ .u-section-1 .u-image-1 {width: 279px; height: 279px; margin-top: 92px}
.u-section-1 .u-image-2 {width: 251px; height: 279px; margin-top: -279px}
.u-section-1 .u-image-3 {margin-left: 75px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 992px}
.u-section-1 .u-image-1 {margin-top: 20px; margin-left: 131px}
.u-section-1 .u-image-2 {margin-top: 20px; margin-right: auto}
.u-section-1 .u-image-3 {width: 540px; height: 304px; margin-left: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 879px}
.u-section-1 .u-image-1 {margin-right: 28px; margin-left: auto}
.u-section-1 .u-image-2 {margin-right: 42px}
.u-section-1 .u-image-3 {width: 340px; height: 191px} }